<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--1、namespace绑定UserDao接口  2、id为UserDao接口中的方法  3、resultType为返回值类型,User Bean 4、parameterType 为参数类型-->
<mapper namespace="com.kuang.dao.TeacherMapper">
    <select id="getTeacher" resultType="teacher">
        select * from Teacher where id=#{id};

    </select>

</mapper>